@charset "UTF-8";

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: dimgray;
}

.txtprincipal {
    text-align: center;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgb(80, 79, 79);
    padding: 10px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.432);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    margin-right: 20px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 0px;
    box-shadow: 4px 4px 9px 09px rgba(0, 0, 0, 0.274);
}

article {
    background-color: lightgray;
    padding: 5px;
}

article > aside {
    display: inline-block;
    background-color: rgb(148, 148, 148);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}

#assuntos {
    background-color:lightgray;
}

div#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
    
}